@import url('https://fonts.googleapis.com/css?family=OpenSans');
body{
  margin: 10px;
  padding: 10px;
  font-family: 'OpenSans';
  font-size: 50px;
} 

nav{   
    display: flex;   
    height: 40px;   
    width: 90%;   
    background: #ffffff;   
    align-items: stretch;   
    justify-content: space-between;   
    padding: 20px 50px 20px 50px;   
    flex-wrap: wrap; }
    nav ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
      }
      nav ul li{
        margin: 10px 0;
      }
      nav ul li a{
        color: #000000;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding: 15px 15px;
        border-radius: 5px;
        letter-spacing: 1px;
      }
     nav .logo-image{
            width: 10x;
            height: 10px;
            margin-top: 10px;
     }
